.card-container {
  display: flex;
  flex-direction: column;
  background-color: #071c533f;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.15s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.monster-name {
  font-family: "Bigelow Rules";
  font-size: 70px;
  color: #73f5ca;
}

p {
  color: #73f5ca;
}
